In [1]:
import pandas as pd

In [2]:
pd.Series([7, 3, 5, 8])

0    7
1    3
2    5
3    8
dtype: int64

In [3]:
x = pd.Series([7, 3, 5, 8], index=['서울', '대구', '부산', '광주'])
print(x)

서울    7
대구    3
부산    5
광주    8
dtype: int64

In [4]:
x[['서울', '대구']]

서울    7
대구    3
dtype: int64

In [5]:
x.index

Index(['서울', '대구', '부산', '광주'], dtype='object')

In [6]:
x.values

array([7, 3, 5, 8], dtype=int64)

In [7]:
print(sorted(x.index))
print(sorted(x.values))

['광주', '대구', '부산', '서울']
[3, 5, 7, 8]

In [8]:
sorted(x.values)

[3, 5, 7, 8]

In [9]:
x = x.reindex(sorted(x.index))
x

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [10]:
x = pd.Series([3, 8, 5, 9], index=['서울', '대구', '부산', '광주'])
y = pd.Series([2, 4, 5, 1], index=['대구', '부산', '서울', '대전'])
x + y

광주     NaN
대구    10.0
대전     NaN
부산     9.0
서울     8.0
dtype: float64

In [11]:
medal = [1, 3, 2, 4, 2, 3]
x = pd.Series(medal)
print(pd.unique(x))

[1 3 2 4]

In [12]:
medal = ['민준', '현우', '서연', '동현', '서연', '현우']
x = pd.Series(medal)
print(pd.unique(x))

['민준' '현우' '서연' '동현']

In [13]:
age = {
    '민준': 23,
    '현우': 43,
    '서연': 12,
    '동현': 45
}
x = pd.Series(age)
x

민준    23
현우    43
서연    12
동현    45
dtype: int64

In [14]:
names = ['민준', '서연', '현우', '민서', '동현', '수빈']
pdata = pd.Series(names)
print(pdata)

0    민준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object

In [15]:
a = pdata[3:6]
print(a.values)

['민서' '동현' '수빈']

In [16]:
# pandas의 인덱스는 일반적인 인덱스와 다르다
print(a[2])

KeyError: 2

In [17]:
# 이전에 슬라이싱 과정을 거치며 0, 1, 2번 인덱스가 제거되었다
print(a)

3    민서
4    동현
5    수빈
dtype: object

In [18]:
data = {
    'age': [23, 43, 12, 45],
    'name': ['민준', '현우', '서연', '동현'],
    'height': [175.3, 180.3, 165.8, 172.7]
}

x = pd.DataFrame(data, columns=['name', 'age', 'height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서연   12   165.8
3   동현   45   172.7

In [19]:
x.name

0    민준
1    현우
2    서연
3    동현
Name: name, dtype: object

In [20]:
ary = [[1, 2], [3, 4], [5, 6]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [21]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [22]:
data.iloc[:, -1]

0    2
1    4
2    6
Name: Second, dtype: int64

In [23]:
ary = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data.head(3)

   First  Second
0      1       2
1      3       4
2      5       6

In [24]:
data.tail(3)

   First  Second
2      5       6
3      7       8
4      9      10

In [25]:
ary = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
# bool 값을 이용하여 특정 항목 선택하여 출력(False는 미출력)
bools = [False, True, True, False, True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [26]:
print(x.mean(axis=0))

age        30.750
height    173.525
dtype: float64

C:\Users\YWIS\AppData\Local\Temp\ipykernel_14372\1806538364.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(x.mean(axis=0))

In [27]:
data = {
    'age': [23, 43, 12, 45],
    'name': ['민준', '현우', '서연', '동현'],
    'height': [175.3, 180.3, 165.8, 172.7]
}
x = pd.DataFrame(data, columns=['name', 'age', 'height'])
index = [True, False, True, False]
print(x[index])

  name  age  height
0   민준   23   175.3
2   서연   12   165.8

In [28]:
ary = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
data = pd.DataFrame(ary, columns=['수온', '상온'])
data

   수온  상온
0   1   2
1   3   4
2   5   6
3   7   8
4   9  10

In [29]:
# .astype(): 데이터 타입 수정
data['수온'] = data['수온'].astype('float')
data

    수온  상온
0  1.0   2
1  3.0   4
2  5.0   6
3  7.0   8
4  9.0  10